/*フォント*/
@font-face {
    font-family: "x10y12pxDonguriDuel";
    src: url("./fonts/x10y12pxDonguriDuel.ttf");
  }

/*担当：　長谷川舞佳　安保優真*/
.quiz-page {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

#quiz {
    width: 50%;
    height: 60%;
    border: 2px solid black;
    background-color: #ffffff;
   
    display: flex;
    font-size: 20px;
  }

  .button-area {
    margin-top: 20px;
    display: flex;
    gap: 10px; 
  }

  #button1{
    font-size: 200%;
  }
  #button2{
    font-size: 200%;
  }
  #button3{
    font-size: 200%;
  }
  
  
/*画面全体中央配置*/
body{
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;

    /*背景追加*/
    background-image: url("./img/bg.png");
    background-size: cover; /*全体に広げる*/
    background-position: center; /*中央に*/
    background-repeat: no-repeat; /*繰り返さない*/
}

/*文字中央*/
.container{
    display: flex;
    flex-direction: column; /*縦並び*/
    align-items: center;    /*横中央*/
    gap: 20px;              /*文字とボタンの感覚*/
    font-family: 'x10y12pxDonguriDuel', Courier, monospace;
}

/*ボタンデザイン*/
.start-btn{
  width: 220px;
  height: 80px;

  font-size: 30px;
  cursor: pointer;
  font-family: 'x10y12pxDonguriDuel', Courier, monospace;
  color: black; /*黒でも大丈夫?*/

  border: none; /*枠消す*/
  background: none; /*デフォルト色を消す*/

  /*背景追加*/
  background-image: url("./img/button.png");
  background-size: contain; 
  background-position: center; /*中央に*/
  background-repeat: no-repeat; /*繰り返さない*/

  transition: transform 0.1s; /*押した感じ*/
}

/*ホバー*/
.start-btn:hover{
transform: scale(1.05);
}

/*クリック*/
.start-btn:active{
transform: scale(0.95);
}

/*担当：　長谷川舞佳　安保優真*/ /*後で名前を消すこと*/
