/* ===========================
   quiz.css - クイズページ
   =========================== */

.quiz-page {
    flex-direction: column;
    background-image: url("../img/bg.png");
    background-attachment: fixed;
}

/* タイマー全体 */
#timer-container {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    color: white;
}

/* 残り時間ラベル文字 */
#timer-text {
    flex-shrink: 0;
    font-size: 20px;
    font-family: 'PixelMplus12-Regular', monospace;
}

/* カウントダウン数字 */
#timer-label {
    flex-shrink: 0;
    width: 30px;
    text-align: right;
    font-size: 25px;
    font-family: "x8y12pxTheStrongGamer", monospace;
}

/* バー外枠 */
#timer-bar-container {
    flex-grow: 1;
    height: 10px;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
}

/* バー本体 */
#timer-bar {
    height: 100%;
    width: 100%;
    background-color: #2196F3;
    border-radius: 5px 0 0 5px;
    transition: width 1s linear, background-color 1s linear;
}

/* 問題カード */
#quiz {
    width: 70%;
    height: 55%;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

/* 問題番号 */
#number {
    font-family: "PixelMplus12-Regular", sans-serif;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

/* 問題文 */
#explanation {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "PixelMplus12-Regular", sans-serif;
    font-size: 30px;
    color: red;
}

/* ヒント */
#hint {
    color: rgb(53, 53, 53);
    text-align: right;
    font-size: 16px;
}

/* 回答ボタンエリア */
.button-area {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

/* 回答ボタン 共通 */
.button-area button {
    padding: 14px 36px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.1s ease;
    position: relative;
    top: 0;
    color: white;
}

/* ボタン1（赤） */
#button1 {
    background: #ff0000;
    box-shadow: 0 6px 0 #840303, 0 8px 10px rgba(0, 0, 0, 0.2);
}

#button1:active {
    top: 4px;
    box-shadow: 0 2px 0 #ab0000, 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* ボタン2（青） */
#button2 {
    background: #0051ff;
    box-shadow: 0 6px 0 #002472, 0 8px 10px rgba(0, 0, 0, 0.2);
}

#button2:active {
    top: 4px;
    box-shadow: 0 2px 0 #0051ff, 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* ボタン3（緑） */
#button3 {
    background: #15ff00;
    box-shadow: 0 6px 0 #13a500, 0 8px 10px rgba(0, 0, 0, 0.2);
}

#button3:active {
    top: 4px;
    box-shadow: 0 2px 0 #91ff00, 0 4px 6px rgba(0, 0, 0, 0.2);
}
